- customer.customer_reviews.each do |customer_review|
  .pt-2.px-2{:style => "background-color: #fffffe; border: 2px solid #272343; border-radius: 2px;"}
    .review-rating{"data-score" => "#{customer_review.rate}"} 評価：
    .text-left
      %p
        投稿者：#{customer_review.customer.full_name}
      %p= customer_review.comment
    .text-right
      %p
        投稿日：#{customer_review.created_at.strftime('%Y/%m/%d')} |
        - if customer_review.customer == current_customer
          = link_to customer_review_destroy_path(customer_review), method: :delete, class: "btn btn-sm btn-danger" do
            コメント削除
            %i.fas.fa-trash
  .pb-2
