<% @customers.each do |customer| %>
  <div>
  <%= link_to customer_show_path(customer) do %>
 </div>
   名前：<%= customer.full_name %>
  <% end %>



<% unless current_customer == customer %>
    <% if current_customer.following?(customer) %>

      <%#= form_for(current_customer.relationships.find_by(follow_id: customer.id), html: { method: :delete }) do |f| %>
      <%= form_with url: customer_relationship_path(customer), method: :delete, local:true do |f| %>
        <%= hidden_field_tag :follow_id, customer.id %>
        <%= f.submit 'Unfollow', class: 'btn btn-danger' %>
      <% end %>
    <% else %>
      <%#= form_for(relationship_create_path) do |f| %>
      <%= form_with url: customer_relationships_path , local:true do |f| %>
        <%= hidden_field_tag :follow_id, customer.id %>
        <div class="follow-btn">
          <%= f.submit 'Follow', class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  <% end %>



<% end %>



