<div class="container">
 <div class="row">
  <p>名前</p>：
  <p><%= @customer.full_name %></p>
 </div>
</div>
<div class="container">
 <div class="row">
  <p>ナマエ</p>：
  <p><%= @customer.full_name_kana %></p>
  </div>
 </div>
 <div class="container">
 <div class="row">
  <p>自己紹介</p>：
  <p><%= @customer.introduction %></p>
  </div>
 </div>

<div class="container">
 <div class="row">
  <% @sell_items.each do |sell_item| %>
   <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card shadow card-org">
     <div class="bg-white">
      <%= link_to customer_item_path do %>
       <%= attachment_image_tag sell_item, :image, class: 'img-fluid sell-item-img' %>
      <% end %>
     </div>
     <div class="card-body">
       <h5 class="card-title"><%= sell_item.name %></h5>
       <div class="card-text">
        <p>値段：<%= sell_item.price %>円</p>
        <p>ジャンル：<%= sell_item.genre.name %></p>
        <p>販売ステータス：<%= sell_item.is_active %></p>
        <p>製作者：<%= sell_item.customer.full_name %></p>
       </div>
     </div>
    </div>
   </div>
  <% end %>

<div class="container">
 <div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
   <%= form_with model:@customer_review, url: customer_review_create_path(@customer), method: :post, local: true do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "クリエーターの評価", class: "form-control form-control-sm" %>
    <div class="form-group row" id="rating-form"> <%#id要素の付与がポイント%>
     <%= f.label :rate,'評価', class:'star-title' %>　<%#保存したいカラムの指定%>
     <%= f.hidden_field :rate, :value => 'score' %>
    </div>
    <%= f.submit "投稿する" %>
    
    <%= link_to customer_review_index_path do %>
     <p>コメント一覧</p>
    <% end %>
   <% end %>
   <script>
    $('#rating-form').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    scoreName: 'item_comment[rate]'
    });
   </script>
 </div>
</div>
</div>
</div>
</div>