<h5>トップページ</h5>
<h2>検索</h2>
　　　<%= form_tag(root_path, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', name: nil %>
      <% end %>
<h3>商品</h3>
<% @items.each do |item| %>
<div>
  <%= attachment_image_tag item, :image %>
  <p>アイテム名：<%= item.name %></p>
  <p>説明：<%= item.introduction %></p>
  <p>値段：<%= item.price %>円</p>
</div>
<% end %>