<div class="container">
<div>
 <% if @customer == current_customer %>
 <p>アイテム名：<%= @order.name %></p>
 <p>購入日時：<%= @order.updated_at %></p>
 <p>配送先：<%= @order.full_address %></p>
 <p>支払方法：<%= @order.payment_method %></p>
</div>

<% @total_payment = 0 %>
<div>
 <% @order_details.each do |order_detail| %>
  <p>商品名<br><%= order_detail.item.name %></p>
  <p>単価<br><%= order_detail.item.with_tax_price %>円</p>
  <br><p>数量<br><%= order_detail.amount %>個</p>
  <br><p>商品小計<br><%= order_detail.subtotal %>円</p>
  <% @total_payment += order_detail.subtotal %>
<% end %>
<div>
 <p>商品合計：<%= @total_payment %>円</p>
 <p>請求金額合計：<%= @order.total_payment %>円</p>

 <p>製作ステータス</p>
  <%= form_with model: @order_details, url: admin_order_detail_path(@order_details), method: :patch, local:true do |f| %>
  <%= f.select :making_status, OrderDetail.making_statuses.keys.to_a %>
  <%= f.submit "変更を保存" %><br>
 <% end %>
<% else %>
<h1>ほかのユーザー情報の為編集不可</h1>
<% end %>
</div>
</div>