
<div class="container">
 <div class="row">
  <% items.each do |item| %>
  <% if item.is_active == "販売中" %>
   <div class="col-4 mb-3">
    <div class="card shadow card-org">
     <div class="bg-white">
      <div class="col">
      <%= link_to customer_item_path(item.id) do %>
       <%= attachment_image_tag item, :image, :fill, 100, 100, class: 'img-fluid sell-item-img' %>
      <% end %>
     </div>
     </div>
    <div class="card-body">
     <h5 class="card-title"><%= item.name %></h5>
      <div class="card-text">
       <p>販売店名：<%= item.shop_name %></p>
       <p>品種名：<%= item.name %></p>
       <p>説明・おすすめの飲み方：<%= item.introduction %></p>
       <p>値段：<%= item.price %>円</p>
       <p>ジャンル：<%= item.genre.name %></p>
       <%= link_to customer_favorites_path(item.id) do %>
       <p>♥：<%= item.favorites.count %> いいね
       <% end %>
     </div>
    </div>
   </div>
  </div>
  <% end %>
  <% end %>
 </div>
</div>