<h1>商品投稿フォーム</h1>
<%= form_with model: @item, url: item_create_path, method: :post, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
   <h4>商品名</h4>
    <%= f.text_field :name %>
  <h4>説明</h4>
   <%= f.text_area :introduction %>
  
  <div>
  <h4>ジャンル選択</h4>
   <%= f.select :genre_, options_from_collection_for_select(Genre.all, :id, :name) %>
  </div>
  
   <h4>値段</h4>
   <%= f.number_field :price %></br>
  
   <h4>販売ステータス</h4>
   <%= f.radio_button :is_active, "販売中" %>
   <%= f.label :is_active, "販売中" %>

   <%= f.radio_button :is_active, "販売停止中" %>
   <%= f.label :is_active, "販売停止中" %></br>
   <%= f.submit '投稿' %>
<% end %>
