<%= form_with url: item_search_path, local: true, method: :get do |form| %>
  <%= form.text_field :keyword %>
  <%= form.submit "検索" %>
<% end %>

<h2>検索結果 "<%= @keyword %>"</h2>

<%= render 'customer/items/list', items: @items %>

