 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <%= attachment_image_tag @item, :image, :fill, 100, 100 %>
   <p>販売店名：<%= @item.shop_name %></p>
   <p>品種名：<%= @item.name %></p>
   <p>説明・おすすめの飲み方：<%= @item.introduction %></p>
   <p>ジャンル：<%= @item.genre.name %></p>
   <p>税抜金額：<%= @item.price%></p>
 
 <% if @item.favorited_by?(current_customer) %>
    <p>
      <%= link_to favorite_destroy_path(@item), method: :delete do %>
        ♥<%= @item.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to favorite_create_path(@item), method: :post do %>
        ♡<%= @item.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  
  <%= form_with(model: @item_comment, url: item_comment_create_path(@item.id), method: :post, local: true) do |f| %>

    <%= f.text_area :comment, placeholder: "商品のコメント", class: "form-control form-control-sm" %>

    <%= f.submit "投稿する" %>
    
　  <%= link_to item_comment_index_path do %>
　    <p>コメント一覧</p>
　  <% end %>
  <% end %>



  </div>