<% @sell_items.each do |sell_item| %>
 <div>
  <%= link_to sell_item_show_path do %>
  <%= attachment_image_tag sell_item, :image %>
  <% end %>
  <p>アイテム名：<%= sell_item.name %></p>
  <p>値段：<%= sell_item.price %>円</p>
  <p>値段：<%= sell_item.genre.name %></p>
  <p>販売ステータス：<%= sell_item.is_active %></p>
  <p>製作者：<%= sell_item.customer.full_name %></p>
</div>
  <% end %>