<div class="container">
<h1>商品投稿フォーム</h1>
<%= form_with model: @item, url: customer_sell_items_path, method: :post, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
   <h4>販売店名</h4>
    <%= f.text_field :shop_name %>
    <h4>品種名</h4>
    <%= f.text_field :name %>
   <h4>説明・おすすめの飲み方</h4>
   <%= f.text_area :introduction %>

  <div>
  <h4>ジャンル選択</h4>
   <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
  </div>

  <%= f.hidden_field :customer_id, value: @item.customer_id %>

   <h4>値段</h4>
   <%= f.number_field :price %></br>

   <%= f.submit '投稿' %>
<% end %>
</div>